.container{
  background-image: url('../images/wildcat.jpg');
  background-size: cover;
  font-family: fantasy;
  color: white;
  z-index: 0.4;
}
h1, h2{
  text-align: center;
}
p{
  text-align: center;
}
.important{
  background-color: rgba(0,0,0, 0.5);
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}
.important img{
  padding: 0.5em;
}
